.news {
  grid-column: 10 / 13;
  grid-row: 2 / 4;
}

.news__heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
}

.news__item {
  display: flex;
  flex-flow: column nowrap;
  &+.news__item {
    margin-top: 16px;
  }
}

.news__item-subject {
  display: flex;
  margin-bottom: 6px;
}

.news__item-date {
  display: flex;
  font-size: 14px;
  color: $grey-70;
}

.news__footer {
  margin-top: 20px;
  padding: 16px;
  font-size: 14px;
  background-color: $grey-20;
}
