$brand-red: #B31B1B;
$link-blue: #0047D6;

$black: rgba(26,26,26,1);//
$grey-90: rgba(52,52,52,1);
$grey-80: rgba(78,78,78,1);
$grey-70: rgba(104,104,104,1);
$grey-60: rgba(130,130,130,1);
$grey-50: rgba(156,156,156,1);
$grey-40: rgba(182,182,182,1);
$grey-30: rgba(208,208,208,1);
$grey-20: rgba(230,230,230,1);//
$grey-10: rgba(245,245,245,1);
