:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  color: $black
}

img {
  max-width: 100%
}

a {
  color: $link-blue;
  text-decoration: none;
  &:hover {
    color: $link-blue - #111;
    text-decoration: underline;
  }
}
